extends sidebarlayout

block content
  .col-12.col-md-8.col-lg-9.col-xl-10.pl-lg-4
    .row
      .col-12.col-lg-12.d-flex
        .card.flex-fill.w-100
          .card-header
            .row
              .col-md-12
                //- strong.card-title.mb-0.mt-2 몸무게/식단 기록 
                strong.card-title.mb-0.mt-2 Weight/Diet record 
                span  
                //- #btnModalDietGuide.btn.btn-pill.btn-primary(data-toggle="modal" data-target="#modalDietGuide") 대체식단
                #btnModalDietGuide.btn.btn-pill.btn-primary(data-toggle="modal" data-target="#modalDietGuide") Alternative diet
                #modalDietGuide.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
                  .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                      .modal-header
                        //- h5.modal-title 대체 식단
                        h5.modal-title Alternative diet
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                      .modal-body.m-3
                        .form-group
                          label.form-label
                            //- | 1식당 권장 단백질 섭취량
                            | Recommended protein intake per meal
                            //- span.text-info.areaTxtMealFrequency  - 1일 
                            //- span.text-info.areaTxtMealFrequency.txtMealFrequency 
                            //- span.text-info.areaTxtMealFrequency 식 기준
                            span.text-info.areaTxtMealFrequency  - Based on 
                            span.text-info.areaTxtMealFrequency.txtMealFrequency 
                            span.text-info.areaTxtMealFrequency meals per day
                          .form-row
                            .form-group.col-4
                              select#selProtein.form-control.selNutrition
                                each protein in proteinList
                                  option= protein
                            .form-group.col-4
                              strong#txtProteinGram.areaTxtGram
                        .form-group
                          label.form-label
                            //- | 1식당 권장 탄수화물 섭취량
                            //- span.text-info.areaTxtMealFrequency  - 1일 
                            //- span.text-info.areaTxtMealFrequency.txtMealFrequency 
                            //- span.text-info.areaTxtMealFrequency 식 기준
                            | Recommended carbohydrate intake per meal
                            span.text-info.areaTxtMealFrequency  - Based on 
                            span.text-info.areaTxtMealFrequency.txtMealFrequency 
                            span.text-info.areaTxtMealFrequency meals per day
                          .form-row
                            .form-group.col-4
                              select#selCarbo.form-control.selNutrition
                                each carbo in carboList
                                  option= carbo
                            .form-group.col-4
                              strong#txtCarboGram.areaTxtGram
                      .modal-footer
                        //- button.btn.btn-primary(type='button'  data-dismiss='modal') 알겠어요.
                        button.btn.btn-primary(type='button'  data-dismiss='modal') Yes
          .card-body
            table#datatables-buttons.table.table-striped(style='width:100%')
              thead
                tr
                  //- th 기록일
                  //- th.d-none.d-xl-table-cell 식사빈도
                  //- th.d-none.d-xl-table-cell 목표 몸무게
                  //- th 몸무게
                  //- th 닭가슴살
                  //- th 고구마
                  th Date
                  th.d-none.d-xl-table-cell Frequency of meals
                  th.d-none.d-xl-table-cell Target weight
                  th Body weight
                  th Chicken breast
                  th Sweet potato
              tbody
                each record in recordList
                  tr
                    td #{record.RECORD_YMD}
                    td.d-none.d-xl-table-cell #{record.MEAL_FREQUENCY}식
                    td.d-none.d-xl-table-cell #{record.TARGET_WEIGHT}KG
                    td #{record.CURRENT_WEIGHT}KG
                    td #{record.PROTEIN}g
                    td #{record.CARBO}g
              tfoot
                tr
                  //- th 기록일
                  //- th.d-none.d-xl-table-cell 식사빈도
                  //- th.d-none.d-xl-table-cell 목표 몸무게
                  //- th 몸무게
                  //- th 닭가슴살
                  //- th 고구마
                  th Date
                  th.d-none.d-xl-table-cell Frequency of meals
                  th.d-none.d-xl-table-cell Target weight
                  th Body weight
                  th Chicken breast
                  th Sweet potato
              script.
                document.addEventListener("DOMContentLoaded", function(event) {
                  var datatablesButtons = $('#datatables-buttons').DataTable({
                    lengthChange: !1,
                    dom: 'Blrtp',
                    buttons: [{
                        extend: 'csvHtml5',
                        text: 'Excel',
                        footer: true,
                        className: 'btn-primary'
                      },
                      {
                        extend: 'print',
                        //- text: '인쇄',
                        text: 'print',
                        className: 'btn btn-primary btn-print ',
                        exportOptions: {
                            modifier: {
                                page: 'current'
                            }
                      },
                      customize: function (win) {
                        $(win.document.body).find('h1').css('text-align','center');
                      }
                    }],
                    responsive: true,
                    "language": {
                      //- "zeroRecords": "몸무게/식단 기록이 없습니다. [1일 다이어트 일지]를 작성해주세요.",
                      //- "info": "총 _PAGES_페이지 중 _PAGE_페이지",
                      //- "paginate":{
                      //-   "next" : "다음",
                      //-   "previous" : "이전"
                      "zeroRecords": "There is no weight/ diet record. Please record to [One-day diet diary].",
                      "paginate":{
                        "next" : "next",
                        "previous" : "prev"
                      }
                    }
                  });
                  datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
                });
block script
  script.
    $(document).ready(init);

    function init(){
      ajaxNutritionGuide();

      $('.selNutrition').on('change', function(){
        ajaxNutritionGuide();
      });
    }

    function afterLogin(){
      window.location.href = getUrl('/view/bodyrecord/');
      
      ajaxNutritionGuide();
    }

    function ajaxNutritionGuide(){
      var params = {
        protein : $('#selProtein').val(),
        carbo : $('#selCarbo').val()
      };
      
      var strURL = getUrl('/api/dailyreport/nutrition');
      $.ajax({ 
        type: 'GET', 
        url: strURL,
        async: false, 
        data: params
      }).done(function(resultParams){
        var message = "";
        //- var title = "1일 권장 섭취량";
        var title = "recommended daily intake";
        var type = "";

        if(resultParams.isSuccess){
          var proteinGram = Math.round(resultParams.proteinGram);
          $('#txtProteinGram').text(proteinGram+'g');

          var carboGram = Math.round(resultParams.carboGram);
          $('#txtCarboGram').text(carboGram+'g');

          $('.txtMealFrequency').text(resultParams.mealFrequency);

          $('.areaTxtMealFrequency').show();
        }else if(resultParams.needLogin){
          $('.areaTxtMealFrequency').hide();
          //- $('.areaTxtGram').text("로그인이 필요한 서비스입니다.");
          $('.areaTxtGram').text("This service requires login.");
        }else if(resultParams.needDietPlan){
          $('.areaTxtMealFrequency').hide();
          //- $('.areaTxtGram').text("먼저 다이어트 목표를 설정해주세요.");
          $('.areaTxtGram').text("Please set your diet goal first.");
        }else{
          type = "warning";
          //- message = "1일 권장 섭취량을 가져오는데 실패했습니다.";
          message = "Failed to get recommended daily intake.";
          showMessage(message, title, type);
        }
      }).fail(function(resultParams){
        //- var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
        var message = "The server is busy. Please use it again in a moment.";
        //- var title = "서비스점검중";
        var title = "In Service Inspection";
        var type = "error";
        showMessage(message, title, type);
      });
    }