extends sidebarlayout

block content
  .col-12.col-md-8.col-lg-9.col-xl-10.pl-lg-4
    .row
      .col-12.col-lg-12.d-flex
        .card.flex-fill.w-100
          .card-header
            .row
              .col-md-12
                strong.card-title.mb-0.mt-2 체성분 기록
                span  
                if userName == null
                  #btnFakeNeedLogin.btn.btn-pill.btn-primary 체성분 등록
                else
                  .btn.btn-pill.btn-primary(data-toggle="modal" data-target="#modalDietGuide") 체성분 등록
                #modalDietGuide.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
                  .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                      .modal-header
                        h5.modal-title 체성분 등록
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                          span(aria-hidden='true') &times;
                      .modal-body.m-3
                        form#smartwizard-validation.wizard.wizard-primary(action='javascript:void(0)')
                          ul
                            li
                              a(href='#validation-step-1')
                                | 1단계
                                br
                                small 체성분 기록
                            li
                              a(href='#validation-step-2')
                                | 내용확인
                          div
                            #validation-step-1
                              .form-group
                                label.form-label
                                  | 측정일
                                  span.text-danger *
                                input#editRecordDate.form-control(type='text' name='datesingle')
                              .form-group
                                label.form-label
                                  | 몸무게
                                  span.text-danger *
                                input#editWeight.form-control.required(name='wizard-userWeight' type='number' value=defaultWeight)
                              .form-group
                                label.form-label
                                  | 골격근량
                                  span.text-danger *
                                input#editBodyMuscle.form-control.required(name='wizard-userBodyMuscle' type='number' value=defaultMuscle)
                              .form-group
                                label.form-label
                                  | 체지방량
                                  span.text-danger *
                                input#editBodyFat.form-control.required(name='wizard-userBodyFat' type='number' value=defaultFat)
                            #validation-step-2
                              .form-group
                                label.form-label
                                  | 측정일
                                  span.text-danger *
                                input#editResRecordDate.form-control(type='text' name='datesingle' disabled)
                              .form-group
                                label.form-label
                                  | 몸무게
                                  span.text-danger *
                                input#editResWeight.form-control.required(name='wizard-userWeight' type='number' disabled)
                              .form-group
                                label.form-label
                                  | 골격근량
                                  span.text-danger *
                                input#editResBodyMuscle.form-control.required(name='wizard-userBodyMuscle' type='number'  disabled)
                              .form-group
                                label.form-label
                                  | 체지방량
                                  span.text-danger *
                                input#editResBodyFat.form-control.required(name='wizard-userBodyFat' type='number' disabled)
                          script.
                            document.addEventListener("DOMContentLoaded", function(event) {
                              // Validation
                              var $validationForm = $('#smartwizard-validation');
                              $validationForm.validate({
                                errorPlacement: function errorPlacement(error, element) {
                                  $(element).parents('.form-group').append(
                                    error.addClass('invalid-feedback small d-block')
                                  )
                                },
                                highlight: function(element) {
                                  $(element).addClass('is-invalid');
                                },
                                unhighlight: function(element) {
                                  $(element).removeClass('is-invalid');
                                },
                                rules: {
                                  'wizard-confirm': {
                                    equalTo: 'input[name="wizard-password"]'
                                  }
                                }
                              });

                              $validationForm.smartWizard({
                                  autoAdjustHeight: false,
                                  backButtonSupport: false,
                                  useURLhash: false,
                                  showStepURLhash: false,
                                  lang: {  // Language variables
                                      next: '다음', 
                                      previous: '이전'
                                  },
                                  toolbarSettings: {
                                  toolbarExtraButtons: [$('<button class="btn btn-submit btn-primary" type="button">등록하기</button>')]
                                  }
                              })
                              .on('leaveStep', function(e, anchorObject, stepNumber, stepDirection) {
                                if (stepDirection === 'forward') {
                                  return $validationForm.valid();
                                }
                                return true;
                              })
                              .on('showStep', function(e, anchorObject, stepNumber, stepDirection) {
                                if(stepNumber == 1){
                                  $validationForm.find('.btn-submit').show();
                                  $('#editResRecordDate').val($('#editRecordDate').val());
                                  $('#editResWeight').val($('#editWeight').val());
                                  $('#editResBodyMuscle').val($('#editBodyMuscle').val());
                                  $('#editResBodyFat').val($('#editBodyFat').val());
                                }
                                return true;
                              });
                              
                              $validationForm.find('.btn-submit').on('click', function() {
                                if (!$validationForm.valid()) {
                                  return;
                                }
                                
                                ajaxRecordBodycomposition();

                                return false;
                              }).hide();

                              $('input[name="datesingle"]').daterangepicker({
                                singleDatePicker: true,
                                showDropdowns: true,
                                "locale": {
                                  "format": "YYYY-MM-DD"
                                }
                              });
                            });
          .card-body
            table#datatables-buttons.table.table-striped(style='width:100%')
              thead
                tr
                  th 측정일
                  th 무게
                  th 골격근량
                  th.d-none.d-xl-table-cell 체지방량
                  th 체지방률
              tbody
                each record in recordList
                  tr
                    td #{record.RECORD_YMD}
                    td #{record.BODY_WEIGHT}KG
                    td #{record.BODY_MUSCLE}KG
                    td.d-none.d-xl-table-cell #{record.BODY_FAT}KG
                    td #{record.BODY_FAT_PERCENTAGE}%
              tfoot
                tr
                  th 측정일
                  th 몸무게
                  th 골격근량
                  th.d-none.d-xl-table-cell 체지방량
                  th 체지방률
              script.
                document.addEventListener("DOMContentLoaded", function(event) {
                  var datatablesButtons = $('#datatables-buttons').DataTable({
                    aaSorting: [[0, 'desc']],
                    lengthChange: !1,
                    dom: 'Blrtp',                    
                    buttons: [{
                        extend: 'csvHtml5',
                        text: 'Excel',
                        footer: true,
                        className: 'btn-primary'
                      },
                      {
                        extend: 'print',
                        text: '인쇄',
                        className: 'btn btn-primary btn-print ',
                        exportOptions: {
                            modifier: {
                                page: 'current'
                            }
                      },
                      customize: function (win) {
                        $(win.document.body).find('h1').css('text-align','center');
                      }
                    }],
                    responsive: true,
                    "language": {
                      "zeroRecords": "체성분 기록이 없습니다. 체성분을 등록해주세요.",
                      "info": "총 _PAGES_페이지 중 _PAGE_페이지",
                      "paginate":{
                        "next" : "다음",
                        "previous" : "이전"
                      }
                    }
                  });
                  datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)")
                });
block script
  script.
    $(document).ready(init);

    function init(){
      $('#btnFakeNeedLogin').on('click', function(){
        
        $('#btnMenuLogIn').trigger('click');

        var message = "로그인이 필요한 서비스입니다.";
        var title = "체성분 등록";
        var type = "warning";
        showMessage(message, title, type);
      });   
    }

    function afterLogin(){
      window.location.href = getUrl('/view/bodycomposition/');
    }

    function ajaxRecordBodycomposition(){
      var params = {
        bodyWeight : $('#editWeight').val(),
        bodyMuscle : $('#editBodyMuscle').val(),
        bodyFat : $('#editBodyFat').val(),
        recordDate : $('#editRecordDate').val()
      };
      
      var strURL = getUrl('/api/bodycomposition');
      $.ajax({ 
        type: 'POST', 
        url: strURL,
        async: false, 
        data: params
      }).done(function(resultParams){
        var message = "체성분 데이터가 정상적으로 등록되었습니다.";
        var title = "체성분 등록";
        var type = "success";

        if(resultParams.isSuccess){
          showMessage(message, title, type);
          window.location.href = getUrl('/view/bodycomposition/');
        }else if(resultParams.needLogin){
          $('#btnMenuLogIn').trigger('click');
          type = "warning";
          message = "로그인이 필요한 서비스입니다.";
          showMessage(message, title, type);
        }else{
          type = "warning";
          message = "체성분 데이터를 등록하지 못하였습니다.";
          showMessage(message, title, type);
        }
      }).fail(function(resultParams){
        var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
        var title = "서비스점검중";
        var type = "error";
        showMessage(message, title, type);
      });
    }