extends sidebarlayout

block content
  .col-12.col-md-8.col-lg-9.col-xl-10.pl-lg-4
    .row
      .col-12.col-lg-12.d-flex
        .card.flex-fill.w-100
          .card-header
            .row
              .col-md-12
                h5.card-title.mb-0.mt-2 나의 프로필
          .card-body
            form#smartwizard-validation.wizard.wizard-primary(action='javascript:void(0)')
              ul
                li
                  a(href='#validation-step-1')
                    | 1단계
                    br
                    small ID/PW
                li
                  a(href='#validation-step-2')
                    | 2단계
                    br
                    small 정보
                li
                  a(href='#validation-step-3')
                    | 내용확인
              div
                #validation-step-1
                  .col-12.text-center 
                    .col-12.text-center
                      if profileIMG != null
                        img.rounded-circle.rounded.mr-2.mb-2(src=profileIMG alt='Placeholder' width='150' height='150')
                      else
                        img.rounded-circle.rounded.mr-2.mb-2(src='/img/avatar.png' alt='Placeholder' width='150' height='150')
                      input#editProfileIMG.custom-file-input(type='file' accept='image/png, image/jpeg, image/gif' name='input-file-preview' style="display: none;")
                    .co1-12.text-center(style="position : relative;top: -30px; left: 50px;")
                      label#btnProfileIMG.btn.btn-pill.btn-primary(for='customFileLangHTML' data-browse='Bestand kiezen' style ="vertical-align:bottom")
                        i.far.fa-folder-open
                  .form-group
                    label.form-label
                      | 이름
                      span.text-danger *
                    input#editUserName.form-control.required(name='wizard-userName' value=userName type='text')
                  .form-group
                    label.form-label
                      | 이메일
                      span.text-danger *
                    input#editEmail.form-control.required.email(name='wizard-email' value=email type='text' disabled)
                #validation-step-2
                  .form-group
                    label.form-label
                      | 생년월일
                      span.text-danger *
                    input#editBirth.form-control(type='text' name='datesingle' value=birth)
                  .form-group
                    label.form-label
                      | 성별
                      span.text-danger *
                    .form-group
                      if gender == 'm'
                        label.custom-control.custom-radio.custom-control-inline
                          input.custom-control-input(name='editRadioGender' type='radio' value='m' data-txt='남자' checked)
                          span.custom-control-label 남자
                        label.custom-control.custom-radio.custom-control-inline
                          input.custom-control-input(name='editRadioGender' type='radio' value='f'  data-txt='여자')
                          span.custom-control-label 여자
                      else
                        label.custom-control.custom-radio.custom-control-inline
                          input.custom-control-input(name='editRadioGender' type='radio' value='m' data-txt='남자' )
                          span.custom-control-label 남자
                        label.custom-control.custom-radio.custom-control-inline
                          input.custom-control-input(name='editRadioGender' type='radio' value='f'  data-txt='여자' checked)
                          span.custom-control-label 여자
                  .form-group
                    label.form-label
                      | 몸무게
                      span.text-danger *
                    input#editWeight.form-control.required(name='wizard-userWeight' type='number' placeholder="ex) 71.9" value=weight)
                  .form-group
                    label.form-label
                      | 키
                      span.text-danger *
                    input#editHeight.form-control.required(name='wizard-userHeight' type='number' placeholder="ex) 176.7" value=height)
                #validation-step-3
                  .col-12.text-center
                    if profileIMG != null
                      img.rounded-circle.rounded.mr-2.mb-2(src=profileIMG alt='Placeholder' width='140' height='140')
                    else
                      img.rounded-circle.rounded.mr-2.mb-2(src='/img/avatar.png' alt='Placeholder' width='140' height='140')
                  .form-group
                    label.form-label
                      | 이름
                    input#editResUserName.form-control.required(name='wizard-userName' type='text' disabled)
                  .form-group
                    label.form-label
                      | 이메일
                    input#editResEmail.form-control.required.email(name='wizard-email' type='text' disabled)
                  .form-group
                    label.form-label
                      | 생년월일
                    input#editResBirth.form-control.required.email(name='wizard-birth' type='text' disabled)
                  .form-group
                    label.form-label
                      | 성별
                    input#editResGender.form-control.required.email(name='wizard-birth' type='text' disabled)
                  .form-group
                    label.form-label
                      | 몸무게
                    input#editResWeight.form-control.required.email(name='wizard-weight' type='number' disabled)
                  .form-group
                    label.form-label
                      | 키
                    input#editResHeight.form-control.required.email(name='wizard-height' type='number' disabled)
                  .col-md-12(style="text-align : right")
                    button.btn.btn-danger(type='button', data-toggle='modal', data-target='#membershipWithdrawal' )
                      | 회원 탈퇴
                    #membershipWithdrawal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
                      .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                          .modal-header
                            h5.modal-title 회원 탈퇴
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') ×
                          .modal-body.m-3(style="text-align : left")
                            p.mb-0
                              | 회원님의 개인정보,운동기록등 모든 기록이 삭제되면 복구 하실 수 없습니다.
                            p.mb-0
                              | 정말로 탈퇴하시겠습니까?
                          .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') 아니요
                            button#deleteProfile.btn.btn-danger(type='button') 네
                  
              script.
                document.addEventListener("DOMContentLoaded", function(event) {
                  // Validation
                  var $validationForm = $('#smartwizard-validation');
                  $validationForm.validate({
                    errorPlacement: function errorPlacement(error, element) {
                      $(element).parents('.form-group').append(
                        error.addClass('invalid-feedback small d-block')
                      )
                    },
                    highlight: function(element) {
                      $(element).addClass('is-invalid');
                    },
                    unhighlight: function(element) {
                      $(element).removeClass('is-invalid');
                    },
                    rules: {
                      'wizard-confirm': {
                        equalTo: 'input[name="wizard-password"]'
                      }
                    }
                  });

                  $validationForm.smartWizard({
                      autoAdjustHeight: false,
                      backButtonSupport: false,
                      useURLhash: false,
                      showStepURLhash: false,
                      lang: {  // Language variables
                          next: '다음', 
                          previous: '이전'
                      },
                      toolbarSettings: {
                      toolbarExtraButtons: [$('<button class="btn btn-submit btn-primary" type="button">수정하기</button>')]
                      }
                  })
                  .on('leaveStep', function(e, anchorObject, stepNumber, stepDirection) {
                    if (stepDirection === 'forward') {
                      return $validationForm.valid();
                    }
                    return true;
                  })
                  .on('showStep', function(e, anchorObject, stepNumber, stepDirection) {
                    if(stepNumber == 2){
                      $validationForm.find('.btn-submit').show();
                      
                      $('#editResUserName').val($('#editUserName').val());
                      $('#editResEmail').val($('#editEmail').val());
                      $('#editResBirth').val($('#editBirth').val());
                      $('#editResGender').val($(':input:radio[name=editRadioGender]:checked').attr('data-txt'));
                      $('#editResWeight').val($('#editWeight').val());
                      $('#editResHeight').val($('#editHeight').val());
                    }
                    return true;
                  });
                  
                  $validationForm.find('.btn-submit').on('click', function() {
                    if (!$validationForm.valid()) {
                      return;
                    }
                    
                    ajaxUpdateProfile();

                    return false;
                  }).hide();

                  $('input[name="datesingle"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    "locale": {
                      "format": "YYYY-MM-DD"
                    }
                  });
                });
block script
  script.
    $(document).ready(init);

    function init(){
      $('#btnProfileIMG').on('click', function(){
        $('#editProfileIMG').trigger('click');
      });

      $('#editProfileIMG').on('change', function(){
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.rounded-circle').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
      });

      $('#deleteProfile').on('click',function( ){
        $(ajaxDeleteProfile);
       });
    }

    function afterLogin(){
      window.location.href = getUrl('/view/profile/');
    }

    function isValidEmail(email){
        return /^(?=.{1,64}@.{3,64}$)(?=.{5,100}$).*/.test(email);
    }

    function ajaxUpdateProfile(){
      var formData = new FormData();
      formData.append('profileIMG', $('#editProfileIMG')[0].files[0], $('#editEmail').val()+".jpg");
      formData.append('name', $('#editUserName').val());
      formData.append('birthDay', $('#editBirth').val());
      formData.append('gender', $(':input:radio[name=editRadioGender]:checked').val());
      formData.append('weight', $('#editWeight').val());
      formData.append('height', $('#editHeight').val());

      var strURL = getUrl('/api/profile');
      $.ajax({ 
        type: 'GET', 
        url: strURL,
        data: formData,
        dataType : 'json',
        processData : false,
        contentType : false,
        error: function(xhr, status, error){
          var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
          var title = "서비스점검중";
          var type = "error";
          toastr[type](message, title, {
                positionClass: "toast-top-right",
                closeButton: true,
                progressBar: true,
                newestOnTop: true,
                rtl: false,
                timeOut: 5000
                });
        },
        success : function(resultParams){
          var message = "회원정보가 수정되었습니다.";
          var title = "나의 프로필 수정";
          var type = "success";

          if(resultParams.isSuccess){
            showMessage(message, title, type);
            window.location.href=getUrl('/view/dashboard');
          }else if(resultParams.needLogin){
            $('#btnMenuLogIn').trigger('click');
            type = "warning";
            message = "로그인이 필요한 서비스입니다.";
            showMessage(message, title, type);
          }else{
              type = "warning";
              message = "회원정보를 수정하지 못했습니다.";
              showMessage(message, title, type);
            }
          }
      }); 
    }
    function ajaxDeleteProfile(){
             var strURL =getUrl('/api/profile/delete');
        $.ajax({
          type: 'PUT', 
          url: strURL,
          async: false
        }).done(function(resultParams){
          if(resultParams.isSuccess){
            var type = "success";
            var title = "회원 탈퇴 성공";
            var message = "그동안 다이어트 매니저를 이용해주셔서 감사합니다.";
            toastr[type](message, title, {
              positionClass: "toast-top-right",
              closeButton: true,
              progressBar: true,
              newestOnTop: true,
              rtl: false,
              timeOut: 1000,
              onHidden : function(){
                window.location.href = getUrl('/view/dashboard');
              }
            });
            $('#membershipWithdrawal').hide();
          }else{
            var type ="warning";
            var title = "회원 탈퇴 실패";
            var message = " 회원탈퇴에 실해하셨습니다.";
            showMessage(message, title, type);
          }
          }).fail(function(resultParams){
            var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
            var title = "서비스점검중";
            var type = "error";
            showMessage(message, title, type);
          });
     }

