extends sidebarlayout

block content
  .col-12.col-md-8.col-lg-9.col-xl-10.pl-lg-4
    .row
      .col-12.col-lg-12.d-flex
        .card.flex-fill.w-100
          .card-header
            .row
              .col-md-12
                //- h5.card-title.mb-0.mt-2 회원가입
                h5.card-title.mb-0.mt-2 Sign up
          .card-body
            form#smartwizard-validation.wizard.wizard-primary(action='javascript:void(0)')
              ul
                li
                  a(href='#validation-step-1')
                    //- | 1단계
                    | Step 1.
                    br
                    //- small 약관동의
                    small Terms
                li
                  a(href='#validation-step-2')
                    //- | 2단계
                    | Step 2.
                    br
                    small ID/PW
                li
                  a(href='#validation-step-3')
                    //- | 3단계
                    | Step 3.
                    br
                    //- small 정보
                    small Information
                li
                  a(href='#validation-step-4')
                    //- | 내용확인
                    | Confirm
              div
                #validation-step-1
                  //- h5.card-title 이용약관
                  h5.card-title Terms
                  p.card-text(style="overflow-y: auto;height: 140px;") 
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    //- | 이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.이용약관 내용입니다.
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                    | terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. terms and conditions. 
                  .col-12.text-right 
                    label.custom-control.custom-checkbox
                      input.custom-control-input.required(type='checkbox' name='wizard-temrs')
                      //- span.custom-control-label 약관동의
                      span.custom-control-label Agree
                #validation-step-2
                  .col-12.text-center 
                    .col-12.text-center
                      if registProfileIMG == null
                        img#imgRegistProfile.rounded-circle.rounded.mr-2.mb-2(src='/img/avatar.png' alt='Placeholder' width='150' height='150')
                      else
                        img#imgRegistProfile.rounded-circle.rounded.mr-2.mb-2(src=registProfileIMG alt='Placeholder' width='150' height='150')
                      input#editProfileIMG.custom-file-input(type='file' accept='image/png, image/jpeg, image/gif' name='input-file-preview' style="display: none;")
                    .co1-12.text-center(style="position : relative;top: -30px; left: 50px;")
                      label#btnProfileIMG.btn.btn-pill.btn-primary(for='customFileLangHTML' data-browse='Bestand kiezen' style ="vertical-align:bottom")
                        i.far.fa-folder-open
                  .form-group
                    label.form-label
                      //- | 이름
                      | Name
                      span.text-danger *
                    input#editUserName.form-control.required(name='wizard-userName' type='text' value=registUserName)
                  .form-group
                    label.form-label
                      //- | 이메일
                      | Email
                      span.text-danger *
                    if registType != null
                      input#editEmail.form-control.required.email(name='wizard-email' type='text' value=email disabled)
                    else
                      input#editEmail.form-control.required.email(name='wizard-email' type='text')
                  if registType != null
                    .form-group.mb-0(style="display:none;")
                      label.form-label
                        //- | 비밀번호
                        | Password
                        span.text-danger *
                      input#editPassword.form-control.required(name='wizard-password' type='text' value=token data-registType=registType)
                  else
                    .form-group.mb-0
                      label.form-label
                        //- | 비밀번호
                        | Confirm password
                        span.text-danger *
                      input#editPassword.form-control.required(name='wizard-password' type='text' data-registType='e')
                #validation-step-3
                  .form-group
                    label.form-label
                      //- | 생년월일
                      | Birth
                      span.text-danger *
                    input#editBirth.form-control(type='text' name='datesingle')
                  .form-group
                    label.form-label
                      //- | 성별
                      | Sex
                      span.text-danger *
                    .form-group
                      label.custom-control.custom-radio.custom-control-inline
                        //- input.custom-control-input(name='editRadioGender' type='radio' value='m' data-txt='남자' checked)
                        //- span.custom-control-label 남자
                        input.custom-control-input(name='editRadioGender' type='radio' value='m' data-txt='Male' checked)
                        span.custom-control-label Male
                      label.custom-control.custom-radio.custom-control-inline
                        //- input.custom-control-input(name='editRadioGender' type='radio' value='f'  data-txt='여자')
                        //- span.custom-control-label 여자
                        input.custom-control-input(name='editRadioGender' type='radio' value='f'  data-txt='Female')
                        span.custom-control-label Female
                  .form-group
                    label.form-label
                      //- | 몸무게
                      | Body weight
                      span.text-danger *
                    input#editWeight.form-control.required(name='wizard-userWeight' type='number' placeholder="ex) 71.9")
                  .form-group
                    label.form-label
                      //- | 키
                      | Height
                      span.text-danger *
                    input#editHeight.form-control.required(name='wizard-userHeight' type='number' placeholder="ex) 176.7")
                #validation-step-4
                  .col-12.text-center
                    if registProfileIMG == null
                      img.rounded-circle.rounded.mr-2.mb-2(src='/img/avatar.png' alt='Placeholder' width='150' height='150')
                    else
                      img.rounded-circle.rounded.mr-2.mb-2(src=registProfileIMG alt='Placeholder' width='150' height='150')
                  .form-group
                    label.form-label
                      //- | 이름
                      | Name
                    input#editResUserName.form-control.required(name='wizard-userName' type='text' value="Yoon jung hyun" disabled)
                  .form-group
                    label.form-label
                      //- | 이메일
                      | Email
                    input#editResEmail.form-control.required.email(name='wizard-email' type='text' value="stark@stark.one" disabled)
                  .form-group
                    label.form-label
                      //- | 생년월일
                      | Birth
                    input#editResBirth.form-control.required.email(name='wizard-birth' type='text' value="1990.02.24" disabled)
                  .form-group
                    label.form-label
                      //- | 성별
                      | Sex
                    input#editResGender.form-control.required.email(name='wizard-birth' type='text' disabled)
                  .form-group
                    label.form-label
                      //- | 몸무게
                      | Body weight
                    input#editResWeight.form-control.required.email(name='wizard-weight' type='number' value="71.9" disabled)
                  .form-group
                    label.form-label
                      //- | 키
                      | Height
                    input#editResHeight.form-control.required.email(name='wizard-height' type='number' value="176.7" disabled)
              script.
                document.addEventListener("DOMContentLoaded", function(event) {
                  // Validation
                  var $validationForm = $('#smartwizard-validation');
                  $validationForm.validate({
                    errorPlacement: function errorPlacement(error, element) {
                      $(element).parents('.form-group').append(
                        error.addClass('invalid-feedback small d-block')
                      )
                    },
                    highlight: function(element) {
                      $(element).addClass('is-invalid');
                    },
                    unhighlight: function(element) {
                      $(element).removeClass('is-invalid');
                    },
                    rules: {
                      'wizard-confirm': {
                        equalTo: 'input[name="wizard-password"]'
                      }
                    }
                  });

                  $validationForm.smartWizard({
                      autoAdjustHeight: false,
                      backButtonSupport: false,
                      useURLhash: false,
                      showStepURLhash: false,
                      lang: {
                          //- next: '다음', 
                          //- previous: '이전'
                          next: 'next', 
                          previous: 'prev'
                      },
                      toolbarSettings: {
                      //- toolbarExtraButtons: [$('<button class="btn btn-submit btn-primary" type="button">가입하기</button>')]
                      toolbarExtraButtons: [$('<button class="btn btn-submit btn-primary" type="button">Submit</button>')]
                      }
                  })
                  .on('leaveStep', function(e, anchorObject, stepNumber, stepDirection) {
                    if (stepDirection === 'forward') {
                      return $validationForm.valid();
                    }
                    return true;
                  })
                  .on('showStep', function(e, anchorObject, stepNumber, stepDirection) {
                    if(stepNumber == 3){
                      $validationForm.find('.btn-submit').show();

                      $('#editResUserName').val($('#editUserName').val());
                      $('#editResEmail').val($('#editEmail').val());
                      $('#editResBirth').val($('#editBirth').val());
                      $('#editResGender').val($(':input:radio[name=editRadioGender]:checked').attr('data-txt'));
                      $('#editResWeight').val($('#editWeight').val());
                      $('#editResHeight').val($('#editHeight').val());
                    }
                    return true;
                  });
                  
                  $validationForm.find('.btn-submit').on('click', function() {
                    if (!$validationForm.valid()) {
                      return;
                    }
                    
                    ajaxRegist();

                    return false;
                  }).hide();

                  //- moment.locale('ko');
                  moment.locale('us');
                  $('input[name="datesingle"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    "locale": {
                      "format": "YYYY-MM-DD"
                    }
                  });
                });
block script
  script.
    $(document).ready(init);

    function init(){
      $('#btnProfileIMG').on('click', function(){
        $('#editProfileIMG').trigger('click');
      });

      $('#editProfileIMG').on('change', function(){
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.rounded-circle').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
      });

      $('#editEmail').on('focusout', function(){
        if(!isValidEmail($(this).val()))
          return;

        var params = {
          email : $(this).val()
        };

        var strURL = getUrl('/api/regist/checkEmail');
        $.ajax({ 
          type: 'GET', 
          url: strURL,
          async: false, 
          data: params
        }).done(function(resultParams){
          if(resultParams.isDuplicate){
            //- var message = "이미 해당 메일로 가입이 되어있습니다.";
            //- var title = "이메일 중복";
            var message = "This email already signed up.";
            var title = "Sign up";
            var type = "warning";
            toastr[type](message, title, {
                  positionClass: "toast-top-right",
                  closeButton: true,
                  progressBar: true,
                  newestOnTop: true,
                  rtl: false,
                  timeOut: 5000
                  });
          }
        }).fail(function(resultParams){
          //- var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
          var message = "The server is busy. Please use it again in a moment.";
          //- var title = "서비스점검중";
          var title = "In Service Inspection";
          var type = "error";
          toastr[type](message, title, {
                positionClass: "toast-top-right",
                closeButton: true,
                progressBar: true,
                newestOnTop: true,
                rtl: false,
                timeOut: 5000
                });
        });
      });
    }

    function isValidEmail(email){
        return /^(?=.{1,64}@.{3,64}$)(?=.{5,100}$).*/.test(email);
    }

    function getUrl(targetURL){
      var strURL = '';
      if(window.location.pathname.split('/').length > 1 && window.location.pathname.split('/')[1].length == 2){
        strURL = '/'+window.location.pathname.split('/')[1]+targetURL; 
      }else{
        strURL = '/kr'+targetURL; 
      }
      return strURL;
    }

    function convertImgToDataURLviaCanvas(url, callback, outputFormat) {
      var img = new Image();
      img.crossOrigin = 'Anonymous';
      img.onload = function() {
        var canvas = document.createElement('CANVAS');
        var ctx = canvas.getContext('2d');
        var dataURL;
        canvas.height = this.height;
        canvas.width = this.width;
        ctx.drawImage(this, 0, 0);
        dataURL = canvas.toDataURL(outputFormat);
        callback(dataURL);
        canvas = null;
      };
      img.src = url;
    }
    
    function ajaxRegist(){
      
      var formData = new FormData();
      if($('#imgRegistProfile').attr('src').includes('http')){
        convertImgToDataURLviaCanvas($('#imgRegistProfile').attr('src'), function(dataURL){
          $('#imgRegistProfile').attr('src', dataURL);
          ajaxRegist();
        });
        return;
      }else if($('#imgRegistProfile').attr('src').includes('data:')){
        formData.append('profileIMGvURL', $('#imgRegistProfile').attr('src'));
      }else{
        formData.append('profileIMG', $('#editProfileIMG')[0].files[0], $('#editEmail').val()+".jpg");
      }
      
      formData.append('name', $('#editUserName').val());
      formData.append('email', $('#editEmail').val());
      formData.append('password', $('#editPassword').val());
      formData.append('registType', $('#editPassword').attr('data-registType'));
      formData.append('birthDay', $('#editBirth').val());
      formData.append('gender', $(':input:radio[name=editRadioGender]:checked').val());
      formData.append('weight', $('#editWeight').val());
      formData.append('height', $('#editHeight').val());

      var strURL = getUrl('/api/regist');
      $.ajax({ 
        type: 'POST', 
        url: strURL,
        data: formData,
        dataType : 'json',
        processData : false,
        contentType : false,
        error: function(xhr, status, error){
          //- var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
          var message = "The server is busy. Please use it again in a moment.";
          //- var title = "서비스점검중";
          var title = "In Service Inspection";
          var type = "error";
          toastr[type](message, title, {
                positionClass: "toast-top-right",
                closeButton: true,
                progressBar: true,
                newestOnTop: true,
                rtl: false,
                timeOut: 5000
                });
        },
        success : function(resultParams){
          //- var message = "회원가입을 완료하였습니다.";
          //- var title = "회원가입";
          var message = "Your account has been successfully created.";
          var title = "Sign up";
          var type = "success";

          if(resultParams.isSuccess){
            showMessage(message, title, type);
            window.location.href=getUrl('/view/dashboard');
          }else if(resultParams.alreadyRegist){
            type = "warning";
            //- message = "해당 이메일로 이미 가입되어있습니다.";
            message = "This email is already registered.";
            showMessage(message, title, type);
          }else{
            type = "warning";
            message = "Failed to sign up.";
            showMessage(message, title, type);
          }
        }
      }); 
    }

