doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='Responsive Bootstrap 4 Admin & Dashboard Template')
  meta(name='author', content='Bootlab')
  meta(name='google-signin-client_id' content='157199777865-ub07uli53lf5d1u0tism30qk7u536cni.apps.googleusercontent.com')
  link(rel='icon', href='/img/favicon.ico')
  title 다이어트 매니저
  link(href='/css/app.css', rel='stylesheet')
  script(src='https://apis.google.com/js/platform.js' async='' defer='')
  style.
    .text-right{
      text-align:right;
    }
    .btn-print{
      margin-left: 5px !important;
      border-radius: 0.2rem !important;
    }
    .btn-add{
      border-radius: 0.2rem !important;
    }
    .bg-white{
      background-color:#fff;
    }
    .hide{
      display:none !important;
    }
    @media (min-width: 1200px) {
      .apt-type{
        z-index: 2;
        position: absolute;
        left: 30%;
        right: 30%;
      }
    }
    .ck-center{
      left: 27px;
      top: 5px;
    }
    .container{
      margin-top:20px;
    }
    .image-preview-input {
      position: relative;
      overflow: hidden;
      margin: 0px;    
      color: #333;
      background-color: #fff;
      border-color: #ced4da;    
    }
    .image-preview-input input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .image-preview-input-title {
        margin-left:2px;
    }
      
body
  .splash.active
    .splash-icon
  nav.navbar.navbar-expand.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='/', style="line-height: 4rem;")
        |         다이어트 매니저 
        small.d-none.d-sm-inline  v.BETA
  .header
    .container
      .media.text-white
        if profileIMG == null
          img#imgProfile.avatar.img-fluid.rounded-circle.mr-3(src='/img/avatar.png', alt='Linda Miller')
        else
          img#imgProfile.avatar.img-fluid.rounded-circle.mr-3(src=profileIMG , alt='Linda Miller')
        .media-body
          if userName == null
            h3#txtUserName.mb-1.text-white.font-weight-normal 손님
          else
            h3.mb-1.text-white.font-weight-normal #{userName}
          if targetWeight == null
            a#btnSetTargetWeight.btn.btn-primary(href='/kr/view/dietplan') 다이어트 목표를 설정해주세요.
            span#areaTargetWeight.font-weight-normal(style="display:none;") 목표 : 
              strong#txtTargetWeight.text-danger #{targetWeight}
              span  KG
          else
            a#btnSetTargetWeight.btn.btn-primary(href='/kr/view/dietplan' style="display:none;") 다이어트 목표를 설정해주세요.
            span.font-weight-normal 목표 : 
                strong.text-danger #{targetWeight}
                span  KG

  main.content
    .container
      .row
        .col-12.col-md-4.col-lg-3.col-xl-2
          a.card.d-block.d-md-none.mt-4(data-toggle='collapse', data-target='#sidebar')
            .card-header
              h5.card-title.mb-0 메뉴
          nav#sidebar.collapse.collapse-disabled-md.sidebar.sidebar-sticky
            .card
              .sidebar-content
                a.sidebar-item(href='/kr/view/dashboard')
                  i.align-middle.mr-1.fas.fa-fw.fa-home
                  span.align-middle 대시보드
                a.sidebar-item(href='/kr/view/bodyrecord')
                   i.align-middle.mr-2.fas.fa-fw.fa-book-open
                   span.align-middle 몸무게/식단 기록
                a.sidebar-item(href='/kr/view/bodycomposition')
                  i.align-middle.mr-1.fas.fa-fw.fa-chart-pie
                  span.align-middle 체성분 기록
            .card
              .sidebar-content
                a.sidebar-item(href='/kr/view/dailyreport')
                 i.align-middle.mr-2.fas.fa-fw.fa-file-signature
                 span.align-middle 1일 다이어트 일지
                a.sidebar-item(href='/kr/view/dietplan')
                 i.align-middle.mr-2.fas.fa-fw.fa-medal
                 span.align-middle 다이어트 목표 설정
                if userName != null
                  a.sidebar-item(href='/kr/view/profile')
                    i.align-middle.mr-2.fas.fa-fw.fa-drafting-compass
                    span.align-middle 나의 프로필
            .card
              .sidebar-content
                if userName == null
                  button#btnMenuLogIn.sidebar-item(type='button' data-toggle='modal' data-target='#centeredModalSuccess')
                    span.align-middle 로그인
                  button#btnMenuLogOut.sidebar-item(type='button' data-toggle='modal' style="display:none;")
                    span.align-middle 로그아웃
                else
                  button#btnMenuLogIn.sidebar-item(type='button' data-toggle='modal' data-target='#centeredModalSuccess' style="display:none;")
                    span.align-middle 로그인
                  button#btnMenuLogOut.sidebar-item(type='button' data-toggle='modal')
                    span.align-middle 로그아웃
        block content
      #centeredModalSuccess.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body.m-3
              .row
                .col-12
                  #btnGoogleSignIn.g-signin2(data-onsuccess='onSignIn' style="width: 120px;margin: auto;margin-bottom: 20px;")
              .row
                .col-4
                  hr
                .col-4.text-center or
                .col-4
                  hr
              .m-sm-4
                form
                  .form-group
                    label 이메일
                    input#editLoginEmail.form-control.form-control-lg(type='email' name='email' placeholder='이메일을 입력해주세요.')
                  .form-group
                    label 비밀번호
                    input#editLoginPassword.form-control.form-control-lg(type='password' name='password' placeholder='비밀번호를 입력해주세요.')
                    .row
                      .col-6
                        small
                          a.text-danger(href='pages-reset-password.html') 비밀번호 찾기
                      .col-6.text-right
                        small
                          a(href='/kr/view/regist') 이메일로 회원가입
                  div
                    .custom-control.custom-checkbox.align-items-center
                      input.custom-control-input(type='checkbox' value='remember-me' name='remember-me' checked='')
                      label.custom-control-label.text-small 자동로그인
            .modal-footer
              button#btnModalLoginClose.btn.btn-secondary(type='button' data-dismiss='modal') 취소
              button#btnModalLogin.btn.btn-primary(type='button') 로그인
  footer.footer
    .container
      hr
      .text-muted.text-center
        p
          | &copy; 2019 - 
          a.text-muted(href='index.html') 중현의 헬스클럽
  script(src='/js/app.js')
  block lib
  block script
  script.
    $(document).ready(init);

    function init(){
      $('#btnModalLogin').on('click', function(){
        var params = {
          email : $('#editLoginEmail').val(),
          password : $('#editLoginPassword').val(),
          registType : 'e'
        };
        ajaxLogin(params);
      });

      $('#btnMenuLogOut').on('click', function(){
        var strURL = getUrl('/api/login/logout');
        $.ajax({ 
            type: 'PUT', 
            url: strURL
        })
        location.reload();
      });

      $('#btnGoogleSignIn').on('click', function(){
        clickedSignIn = true;
      })
    }

    var clickedSignIn = false;
    function onSignIn(googleUser) {
      if(!clickedSignIn)
        return;

      var params = {
          email : profile.getEmail()
        };

      var strURL = getUrl('/api/regist/checkEmail');
      $.ajax({ 
        type: 'GET', 
        url: strURL,
        async: false, 
        data: params
      }).done(function(resultParams){
        if(resultParams.isDuplicate){
          var params = {
            email : profile.getEmail(),
            token : profile.getId(),
            registType : 'g'
          };

          ajaxLogin(params);
        }else{
          var params = {
            userName : profile.getName(),
            email : profile.getEmail(),
            profile : profile.getImageUrl(),
            token : profile.getId(),
            registType : 'g'
          };
          ajaxGotoRegist(params)
        }
      }).fail(function(resultParams){
        var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
        var title = "서비스점검중";
        var type = "error";
        toastr[type](message, title, {
              positionClass: "toast-top-right",
              closeButton: true,
              progressBar: true,
              newestOnTop: true,
              rtl: false,
              timeOut: 5000
              });
      });
    }

    function ajaxGotoRegist(params){
      var strURL = getUrl('/api/regist');
      $.ajax({ 
        type: 'PUT', 
        url: strURL,
        async: false, 
        data: params
      }).done(function(resultParams){
        if(resultParams.isSuccess){
          window.location.href = getUrl('/view/regist');
        }else{
          var message = "회원가입 화면으로 이동하지 못했습니다.";
          var title = "회원가입";
          var type = "warning";
          toastr[type](message, title, {
                positionClass: "toast-top-right",
                closeButton: true,
                progressBar: true,
                newestOnTop: true,
                rtl: false,
                timeOut: 5000
                });
        }
      }).fail(function(resultParams){
        var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
        var title = "서비스점검중";
        var type = "error";
        toastr[type](message, title, {
              positionClass: "toast-top-right",
              closeButton: true,
              progressBar: true,
              newestOnTop: true,
              rtl: false,
              timeOut: 5000
              });
      });
    }

    function ajaxLogin(params){
        var strURL = getUrl('/api/login/login');

        $.ajax({ 
          type: 'PUT', 
          url: strURL,
          async: false, 
          data: params
        }).done(function(resultParams){
          if(resultParams.isSuccess){
            if(resultParams.profileIMG != undefined){
              $('#imgProfile').attr('src', resultParams.profileIMG);
            }

            $('#txtUserName').text(resultParams.userName);

            if(resultParams.targetWeight != undefined){
              $('#btnSetTargetWeight').hide();
              $('#areaTargetWeight').show();
              $('#txtTargetWeight').text(resultParams.targetWeight);
            }else{
              $('#btnSetTargetWeight').show();
              $('#areaTargetWeight').hide();
              $('#txtTargetWeight').text('');
            }

            $('#btnMenuLogOut').show();
            $('#btnMenuLogIn').hide();
            
            $('#btnModalLoginClose').trigger('click');

            if(typeof(afterLogin) != "undefined"){
              afterLogin();
            }
          } else {
            var message = "로그인에 실패하였습니다.";
            var title = "로그인";
            var type = "warning";
            toastr[type](message, title, {
                  positionClass: "toast-top-right",
                  closeButton: true,
                  progressBar: true,
                  newestOnTop: true,
                  rtl: false,
                  timeOut: 5000
                  });
          }
        }).fail(function(resultParams){
          var message = "서버가 혼잡하오니 잠시 다시 이용 부탁드립니다.";
          var title = "서비스점검중";
          var type = "error";
          toastr[type](message, title, {
                positionClass: "toast-top-right",
                closeButton: true,
                progressBar: true,
                newestOnTop: true,
                rtl: false,
                timeOut: 5000
                });
        });
    }

    function getUrl(targetURL){
      var strURL = '';
      if(window.location.pathname.split('/').length > 1 && window.location.pathname.split('/')[1].length == 2){
        strURL = '/'+window.location.pathname.split('/')[1]+targetURL; 
      }else{
        strURL = '/kr'+targetURL; 
      }
      return strURL;
    }

  svg(width='0', height='0', style='position:absolute')
    defs
      symbol#ion-ios-pulse-strong(viewbox='0 0 512 512')
        path(d='M448 273.001c-21.27 0-39.296 13.999-45.596 32.999h-38.857l-28.361-85.417a15.999 15.999 0 0 0-15.183-10.956c-.112 0-.224 0-.335.004a15.997 15.997 0 0 0-15.049 11.588l-44.484 155.262-52.353-314.108C206.535 54.893 200.333 48 192 48s-13.693 5.776-15.525 13.135L115.496 306H16v31.999h112c7.348 0 13.75-5.003 15.525-12.134l45.368-182.177 51.324 307.94c1.229 7.377 7.397 11.92 14.864 12.344.308.018.614.028.919.028 7.097 0 13.406-3.701 15.381-10.594l49.744-173.617 15.689 47.252A16.001 16.001 0 0 0 352 337.999h51.108C409.973 355.999 427.477 369 448 369c26.511 0 48-22.492 48-49 0-26.509-21.489-46.999-48-46.999z')
